body {
    background-color: #f8f9fb;
}

h1 {
    color: rgb(40, 40, 40);
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    line-height: 2.9rem;
}

h3 {
      color: rgb(40, 40, 40);
      font-family: 'Roboto', sans-serif;
      font-size: 3rem;
      font-weight: 300;
}

h4 {
      color: rgb(40, 40, 40);
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 200;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #2368a2;
    /* border-bottom: 1px #194a71 solid; */
    padding-bottom: 1px;
}

a:hover {
    color: #475059;
    /* border-bottom: 1px solid #475059; */
}

section#all-content {
    display: flex;
    margin-top: 10rem;
}

#right-side {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: 2rem;
}

#left-side {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 2rem;
}

#pic-of-me {
    max-width: 30%;
    /* margin-left: 30%; */
}

#social-icons-parent {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.social-icon {
    margin-right: .3rem;
    vertical-align: text-top;
}

.links-menu {
    margin: 0 0 .3rem 0;
}

.next-float-right {
    float: right;
    padding-top: .6rem;
}